* { margin: 0; }
* { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
html, body { width: 100%; height: 100%; overflow: hidden; font: 20pt verdana, "DejaVu Sans", sans-serif; color: white; text-shadow: #444 1px 1px; }
body { position: absolute; }
body {
background: #242464; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #242464 0%, #000024 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#242464), color-stop(100%,#000024)); /* Chrome, Safari4+ */
 
